.footer {  /* расположил блоки вертикально в подвале */
    @include column_center;
}

.footer__links {  /* ссылки подвала расположил горизонтально */
    @include row_center;
}

.footer__links-item {  /* выбрал для ссылок шрифт и место */
    padding: 4.71vw 2.8vw 4.1vw;
    font-size: 1.22rem;
}

.alignment {  /* первой ссылке задал отсту от края, чтобы выровнять весь ряд */
    padding-left: 5.3vw;
}

.footer__signature p {  /* задал копирайту все размеры и отодвинул от ссылок */
    font-size: 1.24rem;
    color: $text-color-dark;
    padding-bottom: 4vw;
}
