.head__menu-link { /* расположил менюшку горизонтально */
    @include row_center;
}

.head__menu-item {  /* выбрал шрифт,сделал невидин=мый бордер, расположил относительно друг друга кнопки */
    @include menu_padding;
    display: inline-block;
    background: $color-none;
    opacity: 0.9;
    border-radius:0 0 0.26vw 0.26vw;
    font-size: 1.22rem;
}

a.head__link:active, a.head__link {  /* убрал атрибуты ссылок, сделал текст темным */
    text-decoration: none;
    color: $text-color-dark;
}

.head__menu-item:first-child {  /* первой кнопке назначил отступы, тем самым выровняв весь ряд */
    @include first_menu_padding;
    margin-right: 1.47vw;
    margin-left: 1.42vw;
    font-size: 1.22rem;
}

.head__menu-item:hover {
    background-color: $text-color-light; /* шапка меню меняет цвет фона при наведении курсора */
}

.head__menu-item:hover>a.head__link { /* меняем цвет текста ссылки при наведении. Эта строка сгорит в аду за все мучения */
        color: $color-none;
        opacity: 0.98;
        transition: .3s;
    }
    
.head {  /* основные блоки в шапке расположил вертикально по центру */
    @include column_center;
}

.head__logo {  /* спозиционировал весь блок с логотипом */
    @include column_center;
    margin-top: 10.1vw;
    margin-bottom: 8vw;
}

.head__logo-img {  /* сделал кругляк лого */
    width: 10.48vw;
    height: 10.48vw;
    border-radius: 50%;
}

.head__logo-title {  /* сделал текст заголовка первого уровня, выставил его  */
    margin-top: 3.75vw;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
}
