
.main__introduction {
    @include column_center;
    padding-top: 9.58vw;
    padding-bottom: 6.78vw;
    // outline: 1px solid blue;
    border-top: 2px solid $border-color;   
}

.center {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2;
    word-spacing: -1.1px;
}

.main__introduction-text {
    margin-top: 2.5vw;
}

.present {
    border-top: 2px solid $border-color ;
}

.main__present {
    @include column_center;
    padding-bottom: 2.28vw;
}

.main__present-text {
    @include row_space-between;
}

.main__present-name {
    padding: 1.4vw 53.1vw 4.9vw 0vw;
    @include New_roman;
    font-size: 1.95rem;
    font-weight: 600;
    letter-spacing: .6px;
}

.main__present-item {
    padding: 1.6vw .2vw 4.9vw 0;

    font-size: 1.44rem;
    letter-spacing: -.3px;
}

.gallery {
    width: 25.55vw;
    padding-right: 1.55vw;
    padding-bottom: 4.7vw;
}

.main__filling {
    @include column_center;
}

.main__filling-button {
    @include center_center;
    width: 19.38vw;
    height: 4.45vw;
    margin-bottom: 1.45vw;
    border-radius: .4vw;
    border-color: $accent-color;
    @include New_roman;
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color-none;
    background-color: $accent-color;
}

a.main__filling-link:active, a.main__filling-link {
    text-decoration: none;
    color: $text-color-none;
}

.main__filling-button:hover {
    transform: scale(1.01);
    z-index: 2;
}

.main__top {
    margin-top: 4.6vw;
}
.main__filling-item {
    font-size: 1.37rem;
    margin-top: 3vw;
}

.main__filling-text {
    margin-top: 1.76vw;
    padding-bottom: 3.42vw;
    border-bottom: 3px solid $border-color;
}

.main__filling-darker {
    padding-bottom: 1.29vw;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .045ex;
    color: $text-color-dark;
}

.bottom {
    padding-bottom: 3.5vw;
    border-bottom: 2px solid $border-color;
}