
.main__introduction {  /* спозиционировал текст в верхушке мейна, нарисовал снизу линию */
    @include column_center;
    padding-top: 9.58vw;
    padding-bottom: 6.78vw;
    border-top: 2px solid $border-color;   
}

.center {  /* дополнительно ровнял текст для адаптива */
    text-align: center;
    font-size: 1.4rem;
    line-height: 2;
    word-spacing: -1.1px;
}

.main__introduction-text {  /* выставил текст на место */
    margin-top: 2.5vw;
}


.main__present {  /* выставил галлерею всю, нарисовал линию */
    border-top: 2px solid $border-color ;
    @include column_center;
    padding-bottom: 2.28vw;
}

.main__present-text {  /* выставлят подписи над галлереей */
    @include row_space-between;
}

.main__present-name {  /* надпись наши работы - все размеры и шрифт выставил */
    padding: 1.28vw 52.8vw 4.8vw 0vw;
    @include New_roman;
    font-size: 1.95rem;
    font-weight: 600;
    letter-spacing: .6px;
}

.main__present-item {  /* так же надпись над галлереей - ее шрифт и позиция  */
    padding-top: 1.46vw;
    font-size: 1.44rem;
    letter-spacing: -.2px;
}

.gallery {  /* размеры изображений и их взаиморасположение */
    width: 25.50vw;
    padding-right: 1.59vw;
    padding-bottom: 4.7vw;
}

.main__filling {  /* расположил блоки с текстами под галлереей вертикально */
    @include column_center;
}

.main__filling-button {  /* сделал книпки - их вид, расположение и шрифты надписи */
    @include center_center;
    width: 19.38vw;
    height: 4.45vw;
    margin-bottom: 1.32vw;
    border-radius: .4vw;
    border-color: $accent-color;
    @include New_roman;
    font-size: 1.4rem;
    font-weight: 600;
    color: $text-color-none;
    background-color: $accent-color;
}

.margin {  /* класс для точного позиционирования первой кнопки */
    margin-top: .18vw;
}

a.main__filling-link:active, a.main__filling-link {  /* убрал аттрибуты ссылок в кнопках, назначил цвет */
    text-decoration: none;
    color: $text-color-none;
}

.main__filling-button:hover {  /* сделал кнопку чуть живее */
    transform: scale(1.01);
    z-index: 2;
}

.main__top {  /* корректировал положение второй кнопки */
    margin-top: 4.6vw;
}
.main__filling-item {  /* размеры шрифта и позиция подзаголовка */
    font-size: 1.37rem;
    margin-top: 2.9vw;
}

.main__filling-text {  /* спозиционировал блоки с текстом */
    margin-top: 1.72vw;
    padding-bottom: 3.42vw;
    border-bottom: 3px solid $border-color;
}

.main__filling-darker {  /* заголовок третьего блока - выставлял его и задавал параметры */
    padding-bottom: 1.29vw;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .045ex;
    color: $text-color-dark;
}

.bottom {  /* рисовал линию снизу мейна, и отодвигал ее от блока */
    padding-bottom: 3.5vw;
    border-bottom: 2px solid $border-color;
}