body {
    @include Arial;
}
p {  
    color: $text-color;
}

.delete {
    width: 1909px;
    outline: 1px solid red;
}

.wrapper {
    width: 78.6%;
    margin: 0 10.5vw 0 10.92vw;
    outline: 1px solid gray;

}


.head__menu-link {
    @include row_center;
}

.head__menu-item {
    @include menu_padding;
    border-radius:0 0 0.26vw 0.26vw;
    font-size: 1.22rem;
}

a.head__link:active, a.head__link {
    text-decoration: none;
    color: $text-color-dark;
}

.head__menu-item:first-child {
    @include first_menu_padding;
    margin-right: 1.47vw;
    margin-left: 1.45vw;
    font-size: 1.22rem;
}

.head__menu-item:hover {
    background-color: $text-color-light; /* шапка меню меняет цвет фона при наведении курсора */
}

.head__menu-item:hover>a.head__link { /* меняем цвет текста ссылки при наведении. Эта строка сгорит в аду за все мучения */
    color: $text-color-none;
}

.head {
    @include column_center;
}

.head__logo {
    @include column_center;
    margin-top: 10.2vw;
    margin-bottom: 8.17vw;
}

.head__logo-img {
    width: 10.48vw;
    height: 10.48vw;
    background-image: url(../../images/logo.png);
    background-size: cover;
    border-radius: 50%;
}

.head__logo-title {
    margin-top: 4.0vw;
    text-transform: uppercase;
    font-size: 3.3rem;
    font-weight: 700;
}

.main__introduction {
    @include column_center;
    outline: 1px solid blue;
    border-top: 2px solid $border-color;
}

