body {
    @include Arial;
}
p {  
    color: $text-color;
}

h2,h3,h4 {
    color: $text-color-light;
}

h5 {
    color: $text-h5-color;
}

// .delete {
//     width: 1909px;
//     outline: 1px solid red;
// }

.wrapper {
    width: 78.6%;
    margin: 0 10.34vw 0 11.05vw;
    // outline: 1px solid gray;

}