body {
    @include Arial;
}
p {  
    color: $text-color;
}

.delete {
    width: 1909px;
    outline: 1px solid red;
}

.wrapper {
    width: 78.6%;
    margin: 0 10.5vw 0 10.92vw;
    outline: 1px solid gray;

}
