
@mixin flex {
    display: flex;
}

@mixin column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin column_start {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

@mixin row_center {
    display: flex;
    justify-content: center;
}
@mixin center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin row_space-between {
    display: flex;
    justify-content: space-between;
}

@mixin Arial {
    font-family: Arial, Helvetica, sans-serif;
}

@mixin New_roman {
    font-family: 'Times New Roman', Times, serif;
}

@mixin menu_padding {
    padding:1.4vw 1.48vw 1.4vw;
    
}
@mixin first_menu_padding {
    padding:1.4vw 2.67vw 1.4vw;
    
}