// Variables
$text-size: 1rem;
$text-color-dark: #000;
$text-color-none: #fff;
$text-color-light: #3f3f3f;
$text-h5-color: #8b7d6b;
$text-color: #8b8989;
$border-color: #d2d2d2;
$accent-color: #fe6267;
$background-color: #fff;