@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* выбрал основной шрифт для странички */
  font-family: Arial, Helvetica, sans-serif;
}

p {
  /* выбрал цвет для основных текстов */
  color: #8b8989;
}

h2, h3, h4 {
  /* выбрал цвет для заголовков мелких */
  color: #3f3f3f;
}

h5 {
  /* отдельный цвет для заголовка */
  color: #8b7d6b;
}

h2 {
  /* размер и вид шрифта для заголовка */
  font-size: 1.95rem;
  font-weight: 600;
  letter-spacing: .045ex;
}

@media screen and (max-width: 599px) {
  /* тут и ниже адаптив, подгонял шрифты в основном и размер основного контейнера */
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .head__logo-title h1 {
    font-size: 2.2rem;
  }
  .main__present-name h3 {
    font-size: 1.7rem;
  }
  .main__filling-name h2 {
    font-size: 1.5rem;
  }
  .footer .footer__signature p {
    font-size: 0.8rem;
  }
  .main__filling-button .main__filling-link {
    font-size: 1.3rem;
  }
  .main__introduction, .main__filling-item {
    text-align: center;
  }
  .footer__links .footer__links-item {
    font-size: 0.95rem;
  }
  .head__menu-item a {
    font-size: 1.6rem;
  }
  .head__menu-link {
    position: absolute;
    width: 70vw;
    margin-left: -35vw;
  }
  .head__menu li.head__menu-item, .head__menu li.head__menu-item:first-child {
    width: 100%;
    text-align: center;
    border: 1px solid #d2d2d2;
    background-color: #eee;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
  }
  .head__menu li:last-child {
    border-radius: 0 0 1vw 1vw;
  }
  .head__menu ul {
    display: none;
  }
  .head__menu nav::before,
  .head__menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAwCAMAAAA8VkqRAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAE5JREFUeAFjwAkYcQC6SFAKBt4fo/6AaMMUQTUQIYJpFaqrMIICzkATR2Hi5uDUjmkh7tDAHUq4Qw8ujl+CsFEEHDVowg1n1OJKDLiTDwBLrgJ9vkuXOwAAAABJRU5ErkJggg==);
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
  .head__menu nav::before,
  .head__menu::after {
    background-color: #fe6267;
    border: 9px solid #fe6267;
  }
  .head__menu::after {
    background-position: -24px -24px;
    z-index: 1;
  }
  .head__menu nav::before {
    z-index: 2;
  }
  .head__menu nav:focus::before {
    z-index: 0;
  }
  .head__menu nav:focus ul,
  .head__menu ul:hover {
    display: block;
  }
  img.head__logo-img {
    width: 20vw;
    height: 20vw;
  }
  .main__present-gallery .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70vw;
    padding-right: 0;
    padding-bottom: 3vw;
  }
  .main__filling .main__filling-button {
    width: 30vw;
    height: 9vw;
    margin-bottom: 3.5vw;
  }
}

@media (min-width: 600px) and (max-width: 904px) {
  .wrapper {
    width: 90%;
    margin: 0 5.17vw 0 5.5vw;
  }
  .head__logo-title h1 {
    font-size: 2.4rem;
  }
  .main__present-name h3 {
    font-size: 1.7rem;
  }
  .main__filling-name h2 {
    font-size: 1.5rem;
  }
  .footer .footer__signature p {
    font-size: 1.1rem;
  }
  .main__filling-button .main__filling-link {
    font-size: 1.2rem;
  }
}

@media (min-width: 905px) and (max-width: 1239px) {
  .wrapper {
    width: 85%;
    margin: 0 10.34vw 0 11.05vw;
  }
  .head__logo-title h1 {
    font-size: 3rem;
  }
  .footer .footer__signature p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1240px) {
  .wrapper {
    width: 78.6%;
    margin: 0 10vw 0 10.9vw;
  }
}

.head__menu-link {
  /* расположил менюшку горизонтально */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head__menu-item {
  /* выбрал шрифт,сделал невидин=мый бордер, расположил относительно друг друга кнопки */
  padding: 1.4vw 1.48vw 1.4vw;
  border-radius: 0 0 0.26vw 0.26vw;
  font-size: 1.22rem;
}

a.head__link:active, a.head__link {
  /* убрал атрибуты ссылок, сделал текст темным */
  text-decoration: none;
  color: #000;
}

.head__menu-item:first-child {
  /* первой кнопке назначил отступы, тем самым выровняв весь ряд */
  padding: 1.4vw 2.67vw 1.4vw;
  margin-right: 1.47vw;
  margin-left: 1.42vw;
  font-size: 1.22rem;
}

.head__menu-item:hover {
  background-color: #3f3f3f;
  /* шапка меню меняет цвет фона при наведении курсора */
}

.head {
  /* основные блоки в шапке расположил вертикально по центру */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__logo {
  /* спозиционировал весь блок с логотипом */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10.1vw;
  margin-bottom: 8vw;
}

.head__logo-img {
  /* сделал кругляк лого */
  width: 10.48vw;
  height: 10.48vw;
  border-radius: 50%;
}

.head__logo-title {
  /* сделал текст заголовка первого уровня, выставил его  */
  margin-top: 3.75vw;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
}

.head__menu li {
  display: inline-block;
  padding: 1.4vw 1.48vw 1.4vw;
  background: #fff;
  opacity: 0.9;
  font-size: 1.22rem;
  border-radius: 0 0 0.26vw 0.26vw;
}

.head__menu li:first-child {
  padding: 1.4vw 2.55vw 1.4vw 2.55vw;
  margin-right: 1.47vw;
  margin-left: 1.5vw;
  font-size: 1.22rem;
}

.head__menu li:hover, .head__menu li.head__menu-item:first-child:hover {
  background: #3f3f3f;
  opacity: 0.98;
  -webkit-transition: .3s;
  transition: .3s;
}

.head__menu li:hover > a, .head__menu li:first-child:hover > a {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.head__menu li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.main__introduction {
  /* спозиционировал текст в верхушке мейна, нарисовал снизу линию */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9.58vw;
  padding-bottom: 6.78vw;
  border-top: 2px solid #d2d2d2;
}

.center {
  /* дополнительно ровнял текст для адаптива */
  text-align: center;
  font-size: 1.4rem;
  line-height: 2;
  word-spacing: -1.1px;
}

.main__introduction-text {
  /* выставил текст на место */
  margin-top: 2.5vw;
}

.main__present {
  /* выставил галлерею всю, нарисовал линию */
  border-top: 2px solid #d2d2d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2.28vw;
}

.main__present-text {
  /* выставлят подписи над галлереей */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__present-name {
  /* надпись наши работы - все размеры и шрифт выставил */
  padding: 1.28vw 52.8vw 4.8vw 0vw;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.95rem;
  font-weight: 600;
  letter-spacing: .6px;
}

.main__present-item {
  /* так же надпись над галлереей - ее шрифт и позиция  */
  padding-top: 1.46vw;
  font-size: 1.44rem;
  letter-spacing: -.2px;
}

.gallery {
  /* размеры изображений и их взаиморасположение */
  width: 25.50vw;
  padding-right: 1.59vw;
  padding-bottom: 4.7vw;
}

.main__filling {
  /* расположил блоки с текстами под галлереей вертикально */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__filling-button {
  /* сделал книпки - их вид, расположение и шрифты надписи */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19.38vw;
  height: 4.45vw;
  margin-bottom: 1.32vw;
  border-radius: .4vw;
  border-color: #fe6267;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  background-color: #fe6267;
}

.margin {
  /* класс для точного позиционирования первой кнопки */
  margin-top: .18vw;
}

a.main__filling-link:active, a.main__filling-link {
  /* убрал аттрибуты ссылок в кнопках, назначил цвет */
  text-decoration: none;
  color: #fff;
}

.main__filling-button:hover {
  /* сделал кнопку чуть живее */
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  z-index: 2;
}

.main__top {
  /* корректировал положение второй кнопки */
  margin-top: 4.6vw;
}

.main__filling-item {
  /* размеры шрифта и позиция подзаголовка */
  font-size: 1.37rem;
  margin-top: 2.9vw;
}

.main__filling-text {
  /* спозиционировал блоки с текстом */
  margin-top: 1.72vw;
  padding-bottom: 3.42vw;
  border-bottom: 3px solid #d2d2d2;
}

.main__filling-darker {
  /* заголовок третьего блока - выставлял его и задавал параметры */
  padding-bottom: 1.29vw;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .045ex;
  color: #000;
}

.bottom {
  /* рисовал линию снизу мейна, и отодвигал ее от блока */
  padding-bottom: 3.5vw;
  border-bottom: 2px solid #d2d2d2;
}

.footer {
  /* расположил блоки вертикально в подвале */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links {
  /* ссылки подвала расположил горизонтально */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__links-item {
  /* выбрал для ссылок шрифт и место */
  padding: 4.71vw 2.8vw 4.1vw;
  font-size: 1.22rem;
}

.alignment {
  /* первой ссылке задал отсту от края, чтобы выровнять весь ряд */
  padding-left: 5.3vw;
}

.footer__signature p {
  /* задал копирайту все размеры и отодвинул от ссылок */
  font-size: 1.24rem;
  color: #000;
  padding-bottom: 4vw;
}
/*# sourceMappingURL=styles.css.map */