@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #8b8989;
}

h2, h3, h4 {
  color: #3f3f3f;
}

h5 {
  color: #8b7d6b;
}

.wrapper {
  width: 78.6%;
  margin: 0 10.34vw 0 11.05vw;
}

.head__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head__menu-item {
  padding: 1.4vw 1.48vw 1.4vw;
  border-radius: 0 0 0.26vw 0.26vw;
  font-size: 1.22rem;
}

a.head__link:active, a.head__link {
  text-decoration: none;
  color: #000;
}

.head__menu-item:first-child {
  padding: 1.4vw 2.67vw 1.4vw;
  margin-right: 1.47vw;
  margin-left: 1.45vw;
  font-size: 1.22rem;
}

.head__menu-item:hover {
  background-color: #3f3f3f;
  /* шапка меню меняет цвет фона при наведении курсора */
}

.head__menu-item:hover > a.head__link {
  /* меняем цвет текста ссылки при наведении. Эта строка сгорит в аду за все мучения */
  color: #fff;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10.2vw;
  margin-bottom: 8.17vw;
}

.head__logo-img {
  width: 10.48vw;
  height: 10.48vw;
  border-radius: 50%;
}

.head__logo-title {
  margin-top: 3.85vw;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 700;
}

.main__introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9.58vw;
  padding-bottom: 6.78vw;
  border-top: 2px solid #d2d2d2;
}

h2 {
  font-size: 1.95rem;
  font-weight: 600;
  letter-spacing: .045ex;
}

.center {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2;
  word-spacing: -1.1px;
}

.main__introduction-text {
  margin-top: 2.5vw;
}

.present {
  border-top: 2px solid #d2d2d2;
}

.main__present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2.28vw;
}

.main__present-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__present-name {
  padding: 1.4vw 53.1vw 4.9vw 0vw;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.95rem;
  font-weight: 600;
  letter-spacing: .6px;
}

.main__present-item {
  padding: 1.6vw .2vw 4.9vw 0;
  font-size: 1.44rem;
  letter-spacing: -.3px;
}

.gallery {
  width: 25.55vw;
  padding-right: 1.55vw;
  padding-bottom: 4.7vw;
}

.main__filling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__filling-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19.38vw;
  height: 4.45vw;
  margin-bottom: 1.45vw;
  border-radius: .4vw;
  border-color: #df6267;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  background-color: #df6267;
}

a.main__filling-link:active, a.main__filling-link {
  text-decoration: none;
  color: #fff;
}

.main__filling-button:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  z-index: 2;
}

.main__top {
  margin-top: 4.6vw;
}

.main__filling-item {
  font-size: 1.37rem;
  margin-top: 3vw;
}

.main__filling-text {
  margin-top: 1.76vw;
  padding-bottom: 3.42vw;
  border-bottom: 3px solid #d2d2d2;
}

.main__filling-darker {
  padding-bottom: 1.29vw;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .045ex;
  color: #000;
}

.bottom {
  padding-bottom: 3.5vw;
  border-bottom: 2px solid #d2d2d2;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__links-item {
  padding: 4.71vw 2.8vw 4.1vw;
  font-size: 1.22rem;
}

.alignment {
  padding-left: 5.3vw;
}

.footer__signature p {
  font-size: 1.24rem;
  color: #000;
  padding-bottom: 4vw;
}
/*# sourceMappingURL=styles.css.map */